<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        setInterval(function () {

          $.ajax({
            type:"GET",
            url:"{% url 'get_task_update' task_id %}",
            success: function (data) {
              if(data["info"] !== null){
                $("#progress").attr("aria-valuenow",`${(data["info"]["done"]/data["info"]["total"])*100}`)
                $("#progress").css("width",`${(data["info"]["done"]/data["info"]["total"])*100}%`)

                $("#info").html(`<div>Processed ${data["info"]["done"]} url(s) of total ${data["info"]["total"]} url(s)</div><br>`)
                if(data["info"]["url"] !== undefined){
                  $("#info").append(`<div>Processing ${data["info"]["url"]}...<br>`)
                }
              }

              if(data["state"] == "SUCCESS"){
                var name = data['file_name'];
                console.log(name);
                window.location = "/get_table/";
              }
              console.log(data["state"]);

            },
            error: function (error,text,xhr) {
              console.log(text+"/"+error);
            }
          })

        },7000)
      })


  </script>
  </head>
  <body>
    <div class="progress mt-3" id="progress_div">
      <div class="progress-bar" style="width: 0%" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div id="info" class="mt-3"></div>


  </body>
</html>
