<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <script>
    $(document).ready(function(){
      var data = "{{ links }}".replace(/&quot;/g,"\"");
      data = (JSON.parse(data));
      console.log(data);
      $("#data_table tbody").find("tr").map((i,item)=>{
        console.log(item,i);
        $(item).append(`
          <td><a href = ${data["drive_links"][i]}><img src="/media/screenshots/${data["links"][i]}"></img></a></td>
          `)
      })
    })


  </script>
  <body>
    <div class="container" style="color:#000000;font-family:'Calibri'">

      <div class="py-2">
        <blockquote class="blockquote">
          <a href="{% url 'upload_form' %}"><img style="background-color:black" src="{% static 'kisspng.png'%}" width="20%" height="30%"></img></a>
        </blockquote>
      </div>
    </div>
    <div class="container">
      <a role="button" href="{{ csv_link }}" class="btn btn-primary mb-5">CSV file</a>
      <table class="table" id="data_table">
        <thead class="thead-dark">
          <tr>
              <th>Sr no.</th>
            {% for i in table.columns%}
              <th>{{ i }}</th>
            {% endfor %}
              <th> Thumbnail </th>
          </tr>
        </thead>
        <tbody>
          {% for index, row in table.iterrows %}
          <tr>
              <td>{{ forloop.counter }}</td>

            {% for data in row %}
              <td style="width:40px;white-space:pre;"> {{ data }} </td>
            {% endfor %}

          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

  </body>
</html>
